# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that should be treated as text
*.pbm text
*.p8 text
*.xml text eol=crlf

# Denote all files that are truly binary (binary is a macro for -text -diff)
*.png binary
*.bmp binary